<mat-tab-group mat-stretch-tabs="false">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">menu_book</mat-icon>
      Dziennik zdarzeń
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">hourglass_bottom</mat-icon>
      Czas przechowywania logu
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
