<section>
  <ul *ngFor="let filter of (mapFilters$ | async)?.objectFilters">
    <mat-checkbox
      [checked]="filter.allNestedFiltersCompleted"
      color="accent"
      [indeterminate]="someComplete(filter)"
      (change)="setAll($event.checked, filter)">
      <b>{{ filter.name }}</b>
    </mat-checkbox>
    <li *ngFor="let subtask of filter.nestedFilters">
      <mat-checkbox color="accent" [(ngModel)]="subtask.completed" (ngModelChange)="updateAllComplete(filter)">
        {{ subtask.name }}
      </mat-checkbox>
    </li>
  </ul>
</section>
