:host {
  // TODO:
  position: fixed;
  top: 129px;
  left: 420px;
  z-index: 10000;
  background: white;
  width: 220px;

  .filter-container {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;

    ul {
      list-style-type: none;
      padding-inline-start: 4px;
      margin-block-start: 0px;
      margin-block-end: 0px;

      li {
        list-style-type: none;
        padding-inline-start: 30px;
      }
    }
  }
}
