@import '../../../../../styles/variables.scss';

:host {
  position: fixed;
  background: #fff;
  top: $toolbar-height + $toolbar-helper-bar-height;
  left: $navbar-width + $object-filter-width;
  width: $area-filter-width;
  z-index: 10000;
  border: $object-filter-border;
}
