@import '../../../../../styles/variables.scss';

.button-row button {
  margin: $margins-between-map-filter-buttons;
}

.object-filters {
  position: fixed;
  top: $toolbar-height + $toolbar-helper-bar-height;
  left: $navbar-width;
  width: $object-filter-width;
}

.device-filters {
  position: fixed;
  top: $toolbar-height + $toolbar-helper-bar-height;
  left: $navbar-width + $object-filter-width;
  width: $device-filter-width;
}

.region-filters {
  position: fixed;
  top: $toolbar-height + $toolbar-helper-bar-height;
  left: $navbar-width + $object-filter-width + $device-filter-width;
  width: $region-filter-width;
}

.status-filters {
  position: fixed;
  top: $toolbar-height + $toolbar-helper-bar-height;
  left: $navbar-width + $object-filter-width + $device-filter-width + $region-filter-width;
  width: $status-filter-width;
}
