<mat-tab-group mat-stretch-tabs="false">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">timer</mat-icon>
      Okna czasowe
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">hourglass_bottom</mat-icon>
      Czas retencji
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">show_chart</mat-icon>
      Histereza
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">
        <app-hysteresis-config></app-hysteresis-config>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">stethoscope</mat-icon>
      Narzędzia diagnostyczne
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
