<mat-tab-group mat-stretch-tabs="false">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" svgIcon="timer"></mat-icon>
      Okna czasowe
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">
        <app-time-windows-config></app-time-windows-config>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" svgIcon="hourglass_bottom"></mat-icon>
      Czas przechowywania logu
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">
        <app-logs-storage-config></app-logs-storage-config>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" svgIcon="hourglass_bottom"></mat-icon>
      Czas retencji
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">
        <app-retention-time-config></app-retention-time-config>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" svgIcon="show_chart"></mat-icon>
      Histereza
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">
        <app-hysteresis-config></app-hysteresis-config>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" svgIcon="stethoscope"></mat-icon>
      Narzędzia diagnostyczne
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
