<div class="chart-header-info" *ngIf="chart$ | async">
  <table>
    <tr>
      <td class="date">Data: {{ (chart$ | async)!.dateNow | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
      <td class="period">
        Okres: {{ (chart$ | async)!.dateBegin | date: 'dd.MM.yyyy HH:mm:ss' }} -
        {{ (chart$ | async)!.dateEnd | date: 'dd.MM.yyyy HH:mm:ss' }}
      </td>
      <td class="statuses">
        <ng-container *ngIf="(chart$ | async)!.chartsData?.avgAvail">
          <div class="status-label">Śr. dost.:</div>
          <div class="status-value">{{ (chart$ | async)!.chartsData?.avgAvail | number: '1.2-2' }}%</div>
        </ng-container>
        <br />
        <ng-container *ngIf="(chart$ | async)!.chartsData?.health">
          <div class="status-label">Kondycja:</div>
          <div
            class="status-value"
            [ngClass]="{
              good: (chart$ | async)!.chartsData?.health === MapObjectStatusTypeEnum.OK,
              warning: (chart$ | async)!.chartsData?.health === MapObjectStatusTypeEnum.Warning,
              bad: (chart$ | async)!.chartsData?.health === MapObjectStatusTypeEnum.Error
            }">
            {{ (chart$ | async)!.chartsData?.health }}
          </div>
        </ng-container>
      </td>
    </tr>
  </table>
</div>

<div
  class="map-object-context-menu-chart"
  echarts
  [options]="(chartOptions$ | async)!"
  [loading]="(isLoading$ | async)!"
  [autoResize]="true"></div>
