<app-progress-spinner *ngIf="isLoading$ | async"></app-progress-spinner>

<div class="chart-header-info" *ngIf="hasChartData$ | async; else no_chart">
  <table>
    <tr>
      <td class="date">Data: {{ (chart$ | async)!.dateNow | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
      <td class="period">
        Okres: {{ (chart$ | async)!.dateBegin | date: 'dd.MM.yyyy HH:mm:ss' }} -
        {{ (chart$ | async)!.dateEnd | date: 'dd.MM.yyyy HH:mm:ss' }}
      </td>
      <td class="statuses">
        <ng-container *ngIf="(chart$ | async)!.chartsData?.avgAvail">
          <div class="status-label">Śr. dost.:</div>
          <div class="status-value">{{ (chart$ | async)!.chartsData.avgAvail | number: '1.2-2' }}%</div>
        </ng-container>
        <br />
        <ng-container *ngIf="(chart$ | async)!.chartsData?.health">
          <div class="status-label">Kondycja:</div>
          <div
            class="status-value"
            [ngClass]="{
              good: (chart$ | async)!.chartsData.health === MapObjectStatusTypeEnum.OK,
              warning: (chart$ | async)!.chartsData.health === MapObjectStatusTypeEnum.Warning,
              bad: (chart$ | async)!.chartsData.health === MapObjectStatusTypeEnum.Error
            }">
            {{ (chart$ | async)!.chartsData.health }}
          </div>
        </ng-container>
      </td>
    </tr>
  </table>
</div>

<div
  *ngIf="hasChartData$ | async"
  class="map-object-context-menu-chart"
  echarts
  [options]="(chartOptions$ | async)!"
  [autoResize]="true"></div>

<ng-template #no_chart>
  <div class="font-bold text-3xl text-center align-middle bg-accent-light rounded-lg p-4">Wykres niedostępny</div>
</ng-template>
