@import 'styles/variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

#main-content {
  min-height: calc(100vh - $toolbar-height);
  background: $main-content-background-color;
}

.padding-content {
  padding: $main-content-padding;
}

.tab-icon {
  margin-right: 6px;
}

.floating-fixed-buttons {
  position: fixed;
  bottom: 40px;
  right: 40px;

  > .mat-mdc-fab {
    margin: $margins-between-floating-fixed-buttons;
  }
}
