@import 'styles/variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

span[disabled] {
  color: $disabled-color;
}

#main-content {
  min-height: calc(100vh - $toolbar-height);
  background: $main-content-background-color;
}

.padding-content {
  padding: $main-content-padding;
}

.tab-icon {
  margin-right: 6px;
}

.info-panel {
  padding: 15px;
  margin: 20px 0px;
  background: $info-panel-background-color;
  border-radius: 10px;
  font-size: 16px;
}

.warning-panel {
  padding: 15px;
  margin: 20px 0px;
  background: $warning-panel-background-color;
  border-radius: 10px;
  font-size: 16px;
}

.floating-fixed-buttons {
  position: fixed;
  bottom: 40px;
  right: 40px;

  > .mat-mdc-fab {
    margin: $margins-between-floating-fixed-buttons;
  }
}

.form-content {
  display: flex;
  flex-direction: column;

  .mat-mdc-form-field {
    width: 100%;
  }
}

.filter-container {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
  background: #fff;
  z-index: 10000;
  border: $filter-border;

  ul {
    list-style-type: none;
    padding-inline-start: 4px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  li {
    list-style-type: none;
    padding-inline-start: 30px;
  }
}

.mat-column-status, .mat-column-objStatus {
  .mat-icon {
    font-size: $report-status-icon-size;
    text-align: end;
    padding-top: 0px;
    height: 14px;
  }

  .mat-icon.good {
    color: $good-status-color;
  }

  .mat-icon.warning {
    color: $warning-status-color;
  }

  .mat-icon.error {
    color: $bad-status-color;
  }

  .mat-icon.not-available {
    color: $disabled-color;
  }
}

// ================================ Marker cluster groups ================================
.marker-cluster-base {
  line-height: 40px;
  color: $marker-cluster-group-count-text-color;
  text-align: center;
  margin: 25px 0;
  border-radius: 50%;
  border: 16px solid transparent;
  font-weight: bold;
  font-size: 14px;
}

.marker-cluster-good-100 {
  border: 16px solid $marker-cluster-group-good-status-color;
  background-color: white;
}

.marker-cluster-warning-100 {
  border: 16px solid $marker-cluster-group-warning-status-color;
  background-color: white;
}

.marker-cluster-bad-100 {
  border: 16px solid $marker-cluster-group-bad-status-color;
  background-color: white;
}

.marker-cluster-good-75-warning-25 {
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
  linear-gradient(0deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(120deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
  linear-gradient(210deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(300deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%);
  background-position: center center, left top, right top, left bottom, right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  transform: rotate(30deg);
}

.marker-cluster-good-50-warning-50 {
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
  linear-gradient(0deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(120deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
  linear-gradient(210deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(300deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%);
  background-position: center center, left top, right top, left bottom, right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  transform: rotate(30deg);
}

.marker-cluster-good-25-warning-75 {
   background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
   background-repeat: no-repeat;
   background-image: linear-gradient(white, white),
   linear-gradient(0deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
   linear-gradient(120deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
   linear-gradient(210deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
   linear-gradient(300deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%);
   background-position: center center, left top, right top, left bottom, right bottom;
   background-origin: content-box, border-box, border-box, border-box, border-box;
   background-clip: content-box, border-box, border-box, border-box, border-box;
   transform: rotate(30deg);
}

.marker-cluster-good-75-bad-25 {
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
  linear-gradient(0deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(120deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%),
  linear-gradient(210deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(300deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%);
  background-position: center center, left top, right top, left bottom, right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  transform: rotate(30deg);
}

.marker-cluster-good-50-bad-50 {
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
  linear-gradient(0deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(120deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%),
  linear-gradient(210deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(300deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%);
  background-position: center center, left top, right top, left bottom, right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  transform: rotate(30deg);
}

.marker-cluster-good-25-bad-75 {
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
  linear-gradient(0deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(120deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%),
  linear-gradient(210deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%),
  linear-gradient(300deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%);
  background-position: center center, left top, right top, left bottom, right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  transform: rotate(30deg);
}

.marker-cluster-warning-75-bad-25 {
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
  linear-gradient(0deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%),
  linear-gradient(120deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
  linear-gradient(210deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
  linear-gradient(300deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%);
  background-position: center center, left top, right top, left bottom, right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  transform: rotate(30deg);
}

.marker-cluster-warning-50-bad-50 {
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
  linear-gradient(0deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
  linear-gradient(120deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%),
  linear-gradient(210deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
  linear-gradient(300deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%);
  background-position: center center, left top, right top, left bottom, right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  transform: rotate(30deg);
}

.marker-cluster-warning-25-bad-75 {
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
  linear-gradient(0deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
  linear-gradient(120deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%),
  linear-gradient(210deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%),
  linear-gradient(300deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%);
  background-position: center center, left top, right top, left bottom, right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  transform: rotate(30deg);
}

.marker-cluster-good-50-warning-25-bad-25 {
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
  linear-gradient(0deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(120deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
  linear-gradient(210deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(300deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%);
  background-position: center center, left top, right top, left bottom, right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  transform: rotate(30deg);
}

.marker-cluster-good-33-warning-33-bad-33 {
  // TODO
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
  linear-gradient(0deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(120deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
  linear-gradient(210deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%),
  linear-gradient(300deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%);
  background-position: center center, left top, right top, left bottom, right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  transform: rotate(30deg);
}

.marker-cluster-good-25-warning-50-bad-25 {
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
  linear-gradient(0deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(120deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
  linear-gradient(210deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%),
  linear-gradient(300deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%);
  background-position: center center, left top, right top, left bottom, right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  transform: rotate(30deg);
}

.marker-cluster-good-25-warning-25-bad-50 {
  background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(white, white),
  linear-gradient(0deg, $marker-cluster-group-good-status-color 100%, lightgrey 0%),
  linear-gradient(120deg, $marker-cluster-group-warning-status-color 100%, lightgrey 0%),
  linear-gradient(210deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%),
  linear-gradient(300deg, $marker-cluster-group-bad-status-color 100%, lightgrey 0%);
  background-position: center center, left top, right top, left bottom, right bottom;
  background-origin: content-box, border-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box, border-box;
  transform: rotate(30deg);
}

img.leaflet-marker-icon.good {
  z-index: 100 !important;
}

img.leaflet-marker-icon.warning {
  z-index: 101 !important;
}

img.leaflet-marker-icon.bad {
  z-index: 102 !important;
}

// Context menu for single map object
.map-object-context-menu {
  width: 420px;
  bottom: 46px !important;

  .leaflet-popup-content-wrapper {
    max-height: 300px;
    overflow-y: auto;
  }
}

// Tooltip for single map item
.map-item-tooltip {
  width: 200px;
  height: 150px;
}

// Context popup for cluster group
.cluster-group-context-menu {
  width: 435px;
}

// Context popup for cluster group after clicking right-mouse click
.cluster-group-quick-reports-context-menu {

}

/* Absolute Center Spinner */
.local-progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

///* Transparent Overlay */
//.local-progress-spinner:before {
//  content: '';
//  display: block;
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  background-color: rgba(0,0,0,0.3);
//}

.p-40 {
  padding: 40px;
}

// FORMS

mat-form-field {
  width: 100%;
}

.close-dialog {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
