<mat-tab-group mat-stretch-tabs="false">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" svgIcon="shuffle"></mat-icon>
      Dostępność systemów
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">
        <app-systems-availability-list></app-systems-availability-list>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" svgIcon="shuffle"></mat-icon>
      Pola danych
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">
        <app-systems-data-fields-list></app-systems-data-fields-list>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
