<form (ngSubmit)="onSubmit()">
  <div class="form-content">
    <h2 mat-dialog-title>Edytuj uprawnienia dla {{ dialogData.model.name }}</h2>

    <mat-dialog-content>
      <section class="filter-container">
        <ul>
          <li *ngFor="let systemPermission of systemPermissions$ | async">
            <mat-checkbox
              color="accent"
              [checked]="isSelected(systemPermission.id)"
              (change)="changeSelection($event.checked, systemPermission.id)"
              [matTooltip]="systemPermission.description">
              {{ systemPermission.name }}
            </mat-checkbox>
          </li>
        </ul>
      </section>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button color="primary" type="button" mat-dialog-close>Anuluj</button>
      <button mat-raised-button color="primary" type="submit" cdkFocusInitial>Zapisz</button>
    </mat-dialog-actions>
  </div>
</form>
