@import '../../../../../styles/variables.scss';

.good {
  color: $marker-cluster-group-good-status-color;
}

.warning {
  color: $marker-cluster-group-warning-status-color;
}

.bad {
  color: $marker-cluster-group-bad-status-color;
}
