<mat-tab-group mat-stretch-tabs="false">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">home</mat-icon>
      Obiekty
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">map</mat-icon>
      Obszary
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">traffic</mat-icon>
      Statusy
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">layers</mat-icon>
      Warstwy
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
