<mat-tab-group mat-stretch-tabs="false">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" svgIcon="home"></mat-icon>
      Obiekty
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" svgIcon="map"></mat-icon>
      Obszary
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" svgIcon="traffic"></mat-icon>
      Statusy
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon" svgIcon="layers"></mat-icon>
      Warstwy
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">TBD</div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
