<div id="progress"><div id="progress-bar"></div></div>
<app-map-helper-bar></app-map-helper-bar>

<div
  id="map-container"
  leaflet
  [leafletOptions]="(mapOptions$ | async)!"
  [leafletLayersControl]="(mapControlLayers$ | async)!"
  [leafletLayers]="(mapLayersAsync$ | async)!"
  [leafletMarkerCluster]="(mapObjects$ | async)!"
  [leafletMarkerClusterOptions]="(markerClusterOptions$ | async)!"
  (leafletMapReady)="onMapReady($event)"
  (leafletMarkerClusterReady)="onMarkerClusterReady($event)"></div>
