<app-toolbar (toggleSideNav)="toggleMenu()"></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" fixedInViewport="true">
    <mat-nav-list>
      <mat-list-item
        [routerLink]="RoutePaths.Map"
        routerLinkActive="active-route">
        <mat-icon matListItemIcon>map</mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Mapa</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="RoutePaths.Map"
        routerLinkActive="active-route">
        <mat-icon matListItemIcon>power</mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Wykresy</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="RoutePaths.Map"
        routerLinkActive="active-route">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Raporty</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="RoutePaths.Map"
        routerLinkActive="active-route">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Analityka</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="RoutePaths.Map"
        routerLinkActive="active-route">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Administracja</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content id="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
