<app-toolbar (toggleSideNav)="sidenav.toggle()"></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" fixedInViewport="true">
    <mat-nav-list>
      <mat-list-item [routerLink]="RoutePaths.Map" routerLinkActive="active-route">
        <mat-icon matListItemIcon>map</mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Mapa</span>
      </mat-list-item>
      <mat-list-item [routerLink]="RoutePaths.Administration" routerLinkActive="active-route">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Administracja</span>
      </mat-list-item>
      <!--      <mat-list-item [routerLink]="RoutePaths.Configuration" routerLinkActive="active-route">-->
      <!--        <mat-icon matListItemIcon>construction</mat-icon>-->
      <!--        <span matListItemTitle *ngIf="sidenav.opened">Konfiguracja</span>-->
      <!--      </mat-list-item>-->
      <mat-list-item [routerLink]="RoutePaths.Filters" routerLinkActive="active-route">
        <mat-icon matListItemIcon>desktop_windows</mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Filtry</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content id="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
