<app-toolbar (toggleSideNav)="sidenav.toggle()"></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" fixedInViewport="true">
    <mat-nav-list>
      <mat-list-item
        [routerLink]="RoutePaths.Map"
        routerLinkActive="active-route"
        *appScopeAllow="[AuthScopes.MenuMap]">
        <mat-icon matListItemIcon svgIcon="map"></mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Mapa</span>
      </mat-list-item>
      <mat-list-item routerLinkActive="active-route" *appScopeAllow="[AuthScopes.MenuCharts]">
        <mat-icon matListItemIcon svgIcon="bar_chart"></mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Wykresy</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="RoutePaths.Reports"
        routerLinkActive="active-route"
        *appScopeAllow="[AuthScopes.MenuReports]">
        <mat-icon matListItemIcon svgIcon="description"></mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Raporty</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="RoutePaths.Analytics"
        routerLinkActive="active-route"
        *appScopeAllow="[AuthScopes.MenuAnalytics]">
        <mat-icon matListItemIcon svgIcon="psychology"></mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Analityka</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="RoutePaths.Administration"
        routerLinkActive="active-route"
        *appScopeAllow="[AuthScopes.MenuAdministration]">
        <mat-icon matListItemIcon svgIcon="settings"></mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Administracja</span>
      </mat-list-item>
      <mat-list-item [routerLink]="RoutePaths.Configuration" routerLinkActive="active-route">
        <mat-icon matListItemIcon svgIcon="construction"></mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Konfiguracja</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="RoutePaths.Integrations"
        routerLinkActive="active-route"
        *appScopeAllow="[AuthScopes.MenuIntegrations]">
        <mat-icon matListItemIcon svgIcon="lan"></mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Integracja</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="RoutePaths.Filters"
        routerLinkActive="active-route"
        *appScopeAllow="[AuthScopes.MenuFilters]">
        <mat-icon matListItemIcon svgIcon="desktop_windows"></mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Filtry</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="RoutePaths.Logs"
        routerLinkActive="active-route"
        *appScopeAllow="[AuthScopes.MenuLogs]">
        <mat-icon matListItemIcon svgIcon="description"></mat-icon>
        <span matListItemTitle *ngIf="sidenav.opened">Logi</span>
      </mat-list-item>
    </mat-nav-list>

    <div class="bottom-stick">
      <mat-list-item>
        <span mat-line class="app-version">v.{{ appVersion }}</span>
      </mat-list-item>
    </div>
  </mat-sidenav>

  <mat-sidenav-content id="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
