<table>
  <tr class="header-summary-row">
    <th>{{ getObjectType() }}</th>
    <th colspan="2">{{ mapObject.nrExpl }}</th>
  </tr>
  <tr class="header-summary-row">
    <th>Nazwa</th>
    <th colspan="2">{{ mapObject.name }}</th>
  </tr>
  <tr>
    <th>Kategoria</th>
    <th>Status</th>
    <th>Link</th>
  </tr>

  <ng-container *ngFor="let item of mapObject.devices; index as i; first as isFirst; last as isLast">
    <td colspan="3" class="group-name">{{ item.idDev }}</td>
    <!--    <ng-container *ngFor="let deviceItem of item.deviceItems">-->
    <!--      <tr class="device-item-row">-->
    <!--        <td>{{ deviceItem.name }}</td>-->
    <!--        <td (click)="showStatusChart(deviceItem)">-->
    <!--          <mat-icon-->
    <!--            matTooltip="abc test 123"-->
    <!--            [ngClass]="{-->
    <!--              good: deviceItem.status === 2,-->
    <!--              warning: deviceItem.status === 1,-->
    <!--              bad: deviceItem.status === 0-->
    <!--            }"-->
    <!--            >circle</mat-icon-->
    <!--          >-->
    <!--        </td>-->
    <!--        <td (click)="showDeviceSubMenu(deviceItem, $event)">>>></td>-->
    <!--      </tr>-->
    <!--    </ng-container>-->
  </ng-container>
</table>

<!--Temporary hardcoded second level context menu-->
<!--<div class="second-level-table" [ngStyle]="{ top: topCssValue }" *ngIf="showSubMenu">-->
<!--  AAA-->
<!--  <table>-->
<!--    <tr class="header-summary-row">-->
<!--      <th>{{ mapItem.name }}</th>-->
<!--      <th colspan="2">{{ mapItem.id }}</th>-->
<!--    </tr>-->
<!--    <tr class="header-summary-row">-->
<!--      <th>Nazwa</th>-->
<!--      <th colspan="2">Szkoła podstawowa</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>Kategoria</th>-->
<!--      <th>Status</th>-->
<!--      <th>Link</th>-->
<!--    </tr>-->

<!--    <ng-container *ngFor="let item of mapItem.groupItems; index as i; first as isFirst; last as isLast">-->
<!--      <td colspan="3" class="group-name">{{ item.name }}</td>-->
<!--      <ng-container *ngFor="let deviceItem of item.deviceItems">-->
<!--        <tr class="device-item-row">-->
<!--          <td>{{ deviceItem.name }}</td>-->
<!--          <td (click)="showStatusChart(deviceItem)">-->
<!--            <mat-icon-->
<!--              matTooltip="abc test 123"-->
<!--              [ngClass]="{-->
<!--                good: deviceItem.status === 2,-->
<!--                warning: deviceItem.status === 1,-->
<!--                bad: deviceItem.status === 0-->
<!--              }"-->
<!--              >circle</mat-icon-->
<!--            >-->
<!--          </td>-->
<!--          <td>>>></td>-->
<!--        </tr>-->
<!--      </ng-container>-->
<!--    </ng-container>-->
<!--  </table>-->
<!--</div>-->
