@import '../../../../../styles/variables.scss';

table, th, td {
  border: $map-item-context-menu-table-border;
  border-collapse: collapse;
  text-align: center;
  width: 240px;
}

tr.header-summary-row {
  background-color: $context-menu-summary-header-background-color;
  font-weight: bold;
}

tr.device-item-row {
  cursor: pointer;
}

td.group-name {
  font-weight: bold;
}

td {
  .mat-icon {
    font-size: 9px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
  }

  .mat-icon.good {
      color: green;
  }

  .mat-icon.warning {
    color: yellow;
  }

  .mat-icon.bad {
    color: red;
  }
}

.second-level-table {
  position: fixed;
  background-color: white;
  left: 275px; // TODO: Dynamic
}
