@import '../../../../../styles/variables.scss';

table, th, td {
  border: $map-item-context-menu-table-border;
  border-collapse: collapse;
  text-align: center;
  width: 375px;
}

tr.header-summary-row {
  background-color: $context-menu-summary-header-background-color;
  font-weight: bold;
}

tr.device-item-row {
  cursor: pointer;
}

tr.device-item-row:hover {
  background-color: $context-menu-row-background-color-on-hover;
}

td.group-name {
  font-weight: bold;
}

td {
  .mat-icon {
    font-size: 9px;
    height: 11px;
    line-height: 11px;
    vertical-align: middle;
  }

  .mat-icon.good {
    color: $good-status-color;
  }

  .mat-icon.warning {
    color: $warning-status-color;
  }

  .mat-icon.bad {
    color: $bad-status-color;
  }

  .mat-icon.not-available {
    color: $disabled-color;
  }
}

.second-level-table {
  position: fixed;
  top: 0;
  left: 425px;
  background-color: white;
  width: 550px;
  padding: 20px;
  border-radius: $context-menu-border-radius;
  box-shadow: $context-menu-box-shadow;
  max-height: 600px;
  overflow-y: auto;

  .leaflet-popup-close-button {
    cursor: pointer;
  }

  table {
    width: 510px;
  }
}

.status-chart-content {
  position: fixed;
  top: 0;
  left: 425px;
  background-color: white;
  width: 550px;
  border-radius: $context-menu-border-radius;
  box-shadow: $context-menu-box-shadow;
}
