<table #myTable>
  <tr class="header-summary-row">
    <th>{{ getObjectType() }}</th>
    <th colspan="2">{{ mapObject.nrExpl }}</th>
  </tr>
  <tr class="header-summary-row">
    <th>Nazwa</th>
    <th colspan="2">{{ mapObject.name }}</th>
  </tr>
  <tr>
    <th>Kategoria</th>
    <th>Status</th>
    <th>Link</th>
  </tr>

  <ng-container *ngFor="let deviceModelType of groupedDeviceTypes | keyvalue">
    <td colspan="3" class="group-name">{{ deviceModelType.key }}</td>
    <ng-container *ngFor="let deviceModel of deviceModelType.value">
      <tr class="device-item-row">
        <td>{{ getDeviceType(+deviceModel.devType) }}</td>
        <td (click)="showStatusChart(deviceModel)">
          <mat-icon
            matTooltip="abc test 123"
            [ngClass]="{
              good: deviceModel?.idStatus === deviceStatus.OK,
              warning: deviceModel?.idStatus === deviceStatus.Warning,
              bad: deviceModel?.idStatus === deviceStatus.Error
            }"
            >circle</mat-icon
          >
        </td>
        <td (click)="showDeviceSubMenu(deviceModel, $event)">>>></td>
      </tr>
    </ng-container>
  </ng-container>
</table>

<!--Temporary hardcoded second level context menu-->
<div class="second-level-table" [ngStyle]="{ left: elementLeft, top: elementTop }" *ngIf="showSubMenu">
  <tr class="header-summary-row">
    <th>{{ getObjectType() }}</th>
    <th colspan="2">{{ mapObject.nrExpl }}</th>
  </tr>
  <tr class="header-summary-row">
    <th>Nazwa</th>
    <th colspan="2">{{ mapObject.name }}</th>
  </tr>
  <tr>
    <th>Kategoria</th>
    <th>Status</th>
    <th>Link</th>
  </tr>

  <ng-container *ngFor="let deviceModelType of groupedDeviceTypes | keyvalue">
    <td colspan="3" class="group-name">{{ deviceModelType.key }}</td>
    <ng-container *ngFor="let deviceModel of deviceModelType.value">
      <tr class="device-item-row">
        <td>{{ getDeviceType(+deviceModel.devType) }}</td>
        <td (click)="showStatusChart(deviceModel)">
          <mat-icon
            matTooltip="abc test 123"
            [ngClass]="{
              good: deviceModel?.idStatus === deviceStatus.OK,
              warning: deviceModel?.idStatus === deviceStatus.Warning,
              bad: deviceModel?.idStatus === deviceStatus.Error
            }"
            >circle</mat-icon
          >
        </td>
        <td>>>></td>
      </tr>
    </ng-container>
  </ng-container>
</div>
