<table #myTable>
  <tr class="header-summary-row">
    <th colspan="4">Grupa obiektów</th>
    <th colspan="2">{{ getAllObjectsInsideCluster() }}</th>
  </tr>
  <tr>
    <th>Typ obiektu</th>
    <th>Liczba obiektów</th>
    <th colspan="4">Status</th>
  </tr>

  <tr class="group-row" *ngFor="let group of mapItems">
    <td>{{ getObjectType(group.objType) }}</td>
    <td>{{ group.objCount }}</td>
    <td><mat-icon class="good">circle</mat-icon>{{ getSuccessStatusDevicesCount(group) }}</td>
    <td><mat-icon class="warning">circle</mat-icon>{{ getWarningStatusDevicesCount(group) }}</td>
    <td><mat-icon class="bad">circle</mat-icon>{{ getBadStatusDevicesCount(group) }}</td>
    <td (click)="showClusterGroupSubMenu(group, $event)">>>></td>
  </tr>

  <div class="second-level-table" [ngStyle]="{ left: elementLeft, top: elementTop }" *ngIf="showSubMenu">
    <tr class="header-summary-row">
      <th colspan="4">Grupa obiektów</th>
      <th colspan="2">{{ getAllObjectsInsideCluster() }}</th>
    </tr>
    <tr>
      <th>Typ urządzenia</th>
      <th>Liczba urządzeń</th>
      <th colspan="4">Status</th>
    </tr>

    <tr class="group-row" *ngIf="secondLevelClusterGroupDetailsModels">
      <td>{{ getObjectType(secondLevelClusterGroupDetailsModels.objType) }}</td>
      <td>{{ secondLevelClusterGroupDetailsModels.objCount }}</td>
      <td>
        <mat-icon class="good">circle</mat-icon
        >{{ getSuccessStatusDevicesGroupCount(secondLevelClusterGroupDetailsModels.devGroups) }}
      </td>
      <td>
        <mat-icon class="warning">circle</mat-icon
        >{{ getWarningStatusDevicesGroupCount(secondLevelClusterGroupDetailsModels.devGroups) }}
      </td>
      <td>
        <mat-icon class="bad">circle</mat-icon
        >{{ getBadStatusDevicesGroupCount(secondLevelClusterGroupDetailsModels.devGroups) }}
      </td>
      <td>>>></td>
    </tr>
  </div>
</table>
