<table #myTable>
  <tr class="header-summary-row">
    <th colspan="4">Grupa obiektów</th>
    <th colspan="2">{{ getAllObjectsInsideCluster() }}</th>
  </tr>
  <tr>
    <th>Typ obiektu</th>
    <th>Liczba obiektów</th>
    <th colspan="4">Status</th>
  </tr>

  <tr class="group-row" *ngFor="let group of mapItems">
    <td>{{ getObjectType(group.objType) }}</td>
    <td>{{ group.objCount }}</td>
    <td>
      <mat-icon class="good">circle</mat-icon
      ><span class="status-count">{{ getSuccessStatusDevicesCount(group) }}</span>
    </td>
    <td>
      <mat-icon class="warning">circle</mat-icon
      ><span class="status-count">{{ getWarningStatusDevicesCount(group) }}</span>
    </td>
    <td>
      <mat-icon class="bad">circle</mat-icon><span class="status-count">{{ getBadStatusDevicesCount(group) }}</span>
    </td>
    <td (click)="showClusterGroupSubMenu(group, $event)">>>></td>
  </tr>

  <div class="second-level-table" [ngStyle]="{ left: elementLeft, top: elementTop }" *ngIf="showSubMenu">
    <tr class="header-summary-row">
      <th colspan="4">Grupa urządzeń</th>
      <th colspan="2">{{ getAllObjectsInsideGroup(secondLevelClusterGroupDetailsModels) }}</th>
    </tr>
    <tr>
      <th>Typ urządzenia</th>
      <th>Liczba urządzeń</th>
      <th colspan="4">Status</th>
    </tr>

    <ng-container *ngIf="secondLevelClusterGroupDetailsModels">
      <tr class="group-row" *ngFor="let group of secondLevelClusterGroupDetailsModels.devGroups">
        <td>{{ getDeviceType(group.devType) }}</td>
        <td>{{ group.devCount }}</td>
        <td>
          <mat-icon class="good">circle</mat-icon
          ><span class="status-count">{{ getSuccessStatusDevicesGroupCount(group.devStat) }}</span>
        </td>
        <td>
          <mat-icon class="warning">circle</mat-icon
          ><span class="status-count">{{ getWarningStatusDevicesGroupCount(group.devStat) }}</span>
        </td>
        <td>
          <mat-icon class="bad">circle</mat-icon
          ><span class="status-count">{{ getBadStatusDevicesGroupCount(group.devStat) }}</span>
        </td>
        <td>>>></td>
      </tr>
    </ng-container>
  </div>
</table>
