<h2 mat-dialog-title>Szybkie filtry</h2>

<mat-divider></mat-divider>

<mat-dialog-content>
  <mat-list role="list">
    <mat-list-item
      class="quick-filter"
      *ngFor="let filter of quickFilters$ | async"
      (click)="loadSelectedFilter(filter)"
      >{{ filter.name }} <mat-icon (click)="deleteQuickFilter(filter.id!)" svgIcon="close"></mat-icon
    ></mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" type="button" (click)="saveCurrentFilters()">
    Zapisz aktualnie wybrane filtry
  </button>
  <button mat-button color="primary" type="button" mat-dialog-close>Anuluj</button>
</mat-dialog-actions>
