// Background colors
$main-content-background-color: #fff;
$context-menu-summary-header-background-color: #9FC7F7;
$context-menu-row-background-color-on-hover: lightgray;
$info-panel-background-color: lightblue;

// Navbar (menu)
$navbar-background-color: #3f51b5; // TODO: Make use of Theming palette - https://material.angular.io/guide/theming
$navbar-active-route-background-color: #fff;
$navbar-text-color: #fff;
$navbar-active-route-text-color: #3f51b5;

// Marker cluster group icon colors
$marker-cluster-group-count-text-color: #000;
$marker-cluster-group-good-status-color: rgba(89, 238, 165, 0.8);
$marker-cluster-group-good-warning-color: rgba(255, 241, 96, 0.8);
$marker-cluster-group-good-bad-color: rgba(255, 114, 132, 0.8);

// Sizes
$toolbar-height: 64px;
$toolbar-helper-bar-height: 64px;
$navbar-width: 195px;
$object-filter-width: 220px;
$region-filter-width: 220px;
$status-filter-width: 220px;

// Paddings
$main-content-padding: 40px;

// Margins
$margins-between-floating-fixed-buttons: 0 10px 0 0;
$margins-between-map-filter-buttons: 0 28px 0 0;

// Borders
$object-filter-border: 3px solid lightgray;
$area-filter-border: $object-filter-border;
$status-filter-border: $object-filter-border;
$map-item-context-menu-table-border: 2px solid lightgray;
