// Background colors
$main-content-background-color: #fff;
$navbar-background-color: #fff;

// Sizes
$toolbar-height: 64px;
$toolbar-helper-bar-height: 64px;

// Paddings
$main-content-padding: 40px;
