// Background colors
$main-content-background-color: #fff;

// Navbar (menu)
$navbar-background-color: #3f51b5; // TODO: Make use of Theming palette - https://material.angular.io/guide/theming
$navbar-active-route-background-color: #fff;
$navbar-text-color: #fff;
$navbar-active-route-text-color: #3f51b5;

// Sizes
$toolbar-height: 64px;
$toolbar-helper-bar-height: 64px;

// Paddings
$main-content-padding: 40px;

// Margins
$margins-between-floating-fixed-buttons: 0 10px 0 0;
