<mat-card>
  <mat-card-header>
    <mat-card-title>Proszę wprowadzić login i hasło</mat-card-title>
    <mat-card-subtitle>v.{{ appVersion }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" #loginForm="ngForm" (ngSubmit)="login()">
      <!--      <mat-error *ngIf="!loginValid"> The username and password were not recognized </mat-error>-->
      <mat-form-field>
        <input matInput placeholder="Login" formControlName="login" />
        <mat-error> Proszę wprowadzić login z AD </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" />
        <mat-error> Proszę wprowadzić hasło </mat-error>
      </mat-form-field>
      <mat-card-actions align="start">
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Zaloguj</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
