<mat-card>
  <mat-card-content>
    <form [formGroup]="form" #loginForm="ngForm" (ngSubmit)="login()">
      <h2>Proszę wprowadzić login i hasło</h2>
      <!--      <mat-error *ngIf="!loginValid"> The username and password were not recognized </mat-error>-->
      <mat-form-field>
        <input matInput placeholder="Login" formControlName="login" />
        <mat-error> Proszę wprowadzić login z AD </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" />
        <mat-error> Proszę wprowadzić hasło </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Zaloguj</button>
    </form>
  </mat-card-content>
</mat-card>
