mat-card-header {
  display: block;
  padding: 16px;

  .logo-container {
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .logo-container span {
    margin-right: 8px;
  }

  .logo-container img,
  .logo-container span {
    vertical-align: middle;
  }
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
}

mat-form-field {
  display: block;

  button {
    text-align: center;
  }
}
