<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>GeoLink</span>

    <span class="spacer"></span>

    <span class="right-section">
      <span class="section alerts">
        <button mat-icon-button matTooltip="Alarmy">
          <mat-icon matListIcon>notifications</mat-icon>
        </button>
      </span>

      <span class="section user-info">
        <span class="name">Jan Kowalski</span>
        <button mat-icon-button>
          <mat-icon matListIcon>face</mat-icon>
        </button>
      </span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
