<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>GeoLink</span>

    <span class="spacer"></span>

    <span class="right-section">
      <span class="section alerts">
        <ng-container *ngIf="(alertsCount$ | async)! > 0; else withoutAlert">
          <button mat-icon-button matTooltip="Alarmy" (click)="toggleAlerts()">
            <mat-icon [matBadge]="alertsCount$ | async" matBadgeColor="warn">notifications</mat-icon>
          </button>
        </ng-container>
        <ng-template #withoutAlert>
          <mat-icon matTooltip="Brak alarmów">notifications</mat-icon>
        </ng-template>
      </span>

      <span class="section user-info">
        <span class="name">{{ (user$ | async)?.unique_name }} ({{ (user$ | async)?.role }})</span>
        <button mat-icon-button>
          <mat-icon>face</mat-icon>
        </button>
      </span>

      <button mat-icon-button matTooltip="Wyloguj" (click)="logout()">
        <mat-icon class="material-icons-outlined">logout</mat-icon>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="alerts-panel" *ngIf="showAlerts">
  <mat-list>
    <mat-list-item *ngFor="let alert of alerts$ | async">
      <mat-icon
        matListItemIcon
        [ngClass]="{
          good: alert?.status === AlertStatus.OK,
          warning: alert?.status === AlertStatus.Warning,
          error: alert?.status === AlertStatus.Error
        }"
        >flag</mat-icon
      >
      <div matListItemTitle [matTooltip]="alert.details">{{ alert.message }}</div>
      <div matListItemLine>{{ alert.serviceName }} - {{ alert.timestamp | date: 'dd.MM.yyyy, HH:mm:ss' }}</div>
    </mat-list-item>
  </mat-list>
</div>
