<mat-tab-group mat-stretch-tabs="false">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">manage_accounts</mat-icon>
      Panel użytkowników
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">
        <app-users-management></app-users-management>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">groups</mat-icon>
      Grupy i role
    </ng-template>
    <ng-template matTabContent>
      <div class="padding-content">
        <app-groups-management></app-groups-management>
      </div>
      <div class="padding-content">
        <app-roles-management></app-roles-management>
      </div>

      <div class="floating-fixed-buttons">
        <button
          mat-fab
          color="primary"
          matTooltip="Dodaj grupę"
          (click)="addNewGroup()">
          <mat-icon>group_add</mat-icon>
        </button>
        <button mat-fab color="primary" matTooltip="Dodaj rolę">
          <mat-icon>assignment_add</mat-icon>
        </button>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
