<section class="filter-container">
  <ul *ngFor="let filter of (mapFilters$ | async)?.objectFilters">
    <mat-checkbox
      [checked]="filter.allNestedFiltersCompleted"
      color="accent"
      [indeterminate]="someComplete(filter)"
      (change)="setAll($event.checked, filter)">
      <b>{{ filter.name }}</b>
    </mat-checkbox>
    <li *ngFor="let subFilter of filter.nestedFilters">
      <ng-container *ngIf="subFilter.nestedFilters && subFilter.nestedFilters.length > 0; else withoutChildren">
        <ul>
          <mat-checkbox
            color="accent"
            [checked]="subFilter.allNestedFiltersCompleted"
            [indeterminate]="someComplete(subFilter)"
            (change)="setAll($event.checked, subFilter)">
            {{ subFilter.name }}
          </mat-checkbox>

          <li *ngFor="let childOfSubFilter of subFilter.nestedFilters">
            <mat-checkbox
              color="accent"
              [(ngModel)]="childOfSubFilter.completed"
              (ngModelChange)="updateAllComplete(subFilter)">
              {{ childOfSubFilter.name }}
            </mat-checkbox>
          </li>
        </ul>
      </ng-container>

      <ng-template #withoutChildren>
        <mat-checkbox color="accent" [(ngModel)]="subFilter.completed" (ngModelChange)="updateAllComplete(filter)">
          {{ subFilter.name }}
        </mat-checkbox>
      </ng-template>
    </li>
  </ul>
</section>
