@import '../../../../styles/variables';

:host {
  position: fixed;
  background: #fff;
  top: $toolbar-height + $toolbar-helper-bar-height;
  left: $navbar-width;
  width: $object-filter-width;
  z-index: 10000;
  border: $area-filter-border;
}
