<form
  [formGroup]="roleForm"
  (ngSubmit)="onSubmit()"
  ngxsForm="roles.addEditRoleForm">
  <div class="form-content">
    <h2 mat-dialog-title *ngIf="isAddMode">Dodaj nową rolę</h2>
    <h2 mat-dialog-title *ngIf="!isAddMode">Edytuj rolę</h2>

    <mat-dialog-content>
      <section>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Nazwa roli</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
      </section>

      <input type="hidden" formControlName="id" />
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button color="primary" type="button" mat-dialog-close>
        Anuluj
      </button>
      <button mat-raised-button color="primary" type="submit" cdkFocusInitial>
        Zapisz
      </button>
    </mat-dialog-actions>
  </div>
</form>
