<ng-container *ngIf="chartModel.chartsData.data && chartModel.chartsData.data.length > 0; else no_chart">
  <div class="chart-header-info">
    <table>
      <tr>
        <td class="date">Data: {{ chartModel.dateNow | date: 'dd.MM.yyyy' }}</td>
        <td class="period">
          Okres: {{ chartModel.dateBegin | date: 'dd.MM.yyyy HH:mm:ss' }} -
          {{ chartModel.dateEnd | date: 'dd.MM.yyyy HH:mm:ss' }}
        </td>
        <td class="statuses">
          <ng-container *ngIf="chartModel.chartsData?.avgAvail">
            <div class="status-label">Śr. dost.:</div>
            <div class="status-value">{{ chartModel.chartsData.avgAvail | number: '1.2-2' }}%</div>
          </ng-container>
          <br />
          <ng-container *ngIf="chartModel.chartsData?.health">
            <div class="status-label">Kondycja:</div>
            <div
              class="status-value"
              [ngClass]="{
                good: chartModel.chartsData.health === MapObjectStatusTypeEnum.OK,
                warning: chartModel.chartsData.health === MapObjectStatusTypeEnum.Warning,
                bad: chartModel.chartsData.health === MapObjectStatusTypeEnum.Error
              }">
              {{ chartModel.chartsData.health }}
            </div>
          </ng-container>
        </td>
      </tr>
    </table>
  </div>

  <div class="map-object-context-menu-chart" echarts [options]="chartOptions" [autoResize]="true"></div>
</ng-container>

<ng-template #no_chart>
  <h2 class="chart-not-available">Wykres niedostępny</h2>
</ng-template>
